.invalid-message {
    padding: 10px 20px;
}

.invalid-cont{
    background-color: red;
    width: fit-content;
}

.success-message {
    margin: 0 auto;
    text-align: center;
    background-color: lightgreen;
}

.success-message > p {
    padding: 10px 20px;
}